name: CI

on: [pull_request, push]

jobs:
  unit-specs:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ["2.5", "2.6"]

    steps:
    - uses: zendesk/checkout@v2
    - name: Set up Ruby
      uses: zendesk/setup-ruby@v1.64.1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Build and test with RSpec
      run: bundle exec rspec --format documentation --require spec_helper --color --exclude-pattern='spec/integration/*_spec.rb'

  integration-specs:
    runs-on: ubuntu-latest

    services:
      zookeeper:
        image: confluentinc/cp-zookeeper
        ports:
          - 2181:2181
        env:
          ZOOKEEPER_CLIENT_PORT: 2181

      kafka:
        image: confluentinc/cp-kafka
        ports:
          - 9092:9092
          - 29092:29092
        options: --health-cmd "kafka-topics --list --bootstrap-server=localhost:9092" --health-interval 10s --health-timeout 5s --health-retries 5
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

    steps:
    - uses: zendesk/checkout@v2
    - name: Set up Ruby
      uses: zendesk/setup-ruby@v1.64.1
      with:
        ruby-version: 2.7
        bundler-cache: true
    - name: Build and test with RSpec
      env:
        RACECAR_BROKERS: localhost:9092
      run: bundle exec rspec --format documentation --require spec_helper --color spec/integration/*_spec.rb
